[default]
sso_start_url={{- pass "aws.amazon.com/aps831@yahoo.co.uk/starturl" }}
sso_region=eu-west-2
region=eu-west-2
output=json

[profile andrew-p-spratley]
sso_start_url={{- pass "aws.amazon.com/aps831@yahoo.co.uk/starturl" }}
sso_region=eu-west-2
sso_account_id={{- pass "aws.amazon.com/andrew.p.spratley@gmail.com/accountid" }}
sso_role_name=AdministratorAccess
region=eu-west-2
output=json

[profile spratleyap]
sso_start_url={{- pass "aws.amazon.com/aps831@yahoo.co.uk/starturl" }}
sso_region=eu-west-2
sso_account_id={{- pass "aws.amazon.com/spratleyap@gmail.com/accountid" }}
sso_role_name=AdministratorAccess
region=eu-west-2
output=json

[profile aps831]
sso_start_url={{- pass "aws.amazon.com/aps831@yahoo.co.uk/starturl" }}
sso_region=eu-west-2
sso_account_id={{- pass "aws.amazon.com/aps831@yahoo.co.uk/accountid" }}
sso_role_name=AdministratorAccess
region=eu-west-2
output=json

[profile operations-reports-831-admin]
sso_start_url={{- pass "aws.amazon.com/aps831@yahoo.co.uk/starturl" }}
sso_region=eu-west-2
sso_account_id={{- pass "aws.amazon.com/operations.reports.831@gmail.com/accountid" }}
sso_role_name=AdministratorAccess
region=eu-west-2
output=json

[profile operations-reports-831-deploy]
sso_start_url={{- pass "aws.amazon.com/aps831@yahoo.co.uk/starturl" }}
sso_region=eu-west-2
sso_account_id={{- pass "aws.amazon.com/operations.reports.831@gmail.com/accountid" }}
sso_role_name=OperationsReportsDeployment
region=eu-west-2
output=json

[profile localstack]
region=eu-west-2
output=json

