{{- $codespaces := env "CODESPACES" | not | not -}}
{{- $devcontainers := env "DEVCONTAINERS" | not | not -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    name = "Your name"
    codespaces = {{ $codespaces }}
    devcontainers = {{ $devcontainers }}

encryption = "age"
[age]
    identity = "~/.age/chezmoi.age.txt"
    recipient = "age1y5r0l5qffkrug0nka649pq8a5k5ucpez2gtrm3m0f5pdrdsc3gtsszphrv"

[diff]
    exclude = ["scripts"]