//npm.pkg.github.com/:_authToken={{ doppler "GITHUB_TOKEN_READ_PACKAGES" (expandenv "$DOPPLER_PROJECT") (expandenv "$DOPPLER_CONFIG") }}
@aps831:registry=https://npm.pkg.github.com/
@downslow2fast:registry=https://npm.pkg.github.com/
always-auth=true
