{
	"auths": {
		"{{ doppler "AWS_ACCOUNT_ID_OPERATIONS_REPORTS_831" (expandenv "$DOPPLER_PROJECT") (expandenv "$DOPPLER_CONFIG") }}.dkr.ecr.eu-west-2.amazonaws.com": {},
		"https://index.docker.io/v1/": {}
	},
	"credsStore": "pass",
	"credHelpers": {
		"docker.io": "pass",
		"europe-west2-docker.pkg.dev": "gcr"
	}
}
