{
	"auths": {
		"{{- pass "aws.amazon.com/operations.reports.831@gmail.com/accountid" }}.dkr.ecr.eu-west-2.amazonaws.com": {},
		"ghcr.io": {},
		"https://index.docker.io/v1/": {},
		"titan.local:5000": {}
	},
	"credsStore": "pass",
	"credHelpers": {
		"asia.gcr.io": "gcloud",
		"docker.io": "pass",
		"eu.gcr.io": "gcloud",
		"gcr.io": "gcloud",
		"marketplace.gcr.io": "gcloud",
		"staging-k8s.gcr.io": "gcloud",
		"titan.local:5000": "pass",
		"us.gcr.io": "gcloud"
	}
}
