<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <mirrors>
        <mirror>
            <id>nexus</id>
            <mirrorOf>*,!project</mirrorOf>
            <url>http://titan.local:18181/repository/maven-public/</url>
        </mirror>
    </mirrors>

    <servers>
        <server>
            <id>releases</id>
            <username>deployment</username>
            <password>{{- output (printf "%s%s" .chezmoi.sourceDir "/dot_m2/maven_encrypt_password.sh") -}}</password>
        </server>
        <server>
            <id>snapshots</id>
            <username>deployment</username>
            <password>{{- output (printf "%s%s" .chezmoi.sourceDir "/dot_m2/maven_encrypt_password.sh") -}}</password>
        </server>
        <server>
            <id>docker</id>
            <username>deployment</username>
            <password>{{- output (printf "%s%s" .chezmoi.sourceDir "/dot_m2/maven_encrypt_password.sh") -}}</password>
            <configuration>
              <email>{{- pass "titan.local/nexus3/deployment/email" -}}</email>
            </configuration>
        </server>
    </servers>

    <activeProfiles>
        <activeProfile>nexus</activeProfile>	
    </activeProfiles>

    <profiles>

        <!--Nexus Profile -->
        <profile>
            <id>nexus</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>http://central</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>http://central</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
       
    </profiles>

</settings>
